* {
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .container .row {
    margin: 0 5px; }
    .container .row:before, .container .row:after {
      content: "";
      display: block;
      clear: both; }
    .container .row [class*="col-"] {
      float: left;
      min-height: 1px;
      width: 100%;
      padding: 0 5px;
      margin-right: 2%; }
      .container .row [class*="col-"]:last-child {
        margin-right: 0%; }
    @media only screen and (min-width: 768px) {
      .container .row .col-1 {
        width: 6.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-2 {
        width: 15%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-3 {
        width: 23.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-4 {
        width: 32%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-5 {
        width: 40.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-6 {
        width: 49%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-7 {
        width: 57.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-8 {
        width: 66%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-9 {
        width: 74.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-10 {
        width: 83%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-11 {
        width: 91.5%; } }
    @media only screen and (min-width: 768px) {
      .container .row .col-12 {
        width: 100%; } }

#section__header {
  color: #ffffff; }

.for__scroll {
  height: 2000px;
  background: #919191; }

.header__main-nav__menu {
  display: none; }

.header__main-nav {
  height: 80px;
  color: #ffffff; }

.header__mobile {
  height: 80px;
  width: 99vw; }

.b-nav-fix {
  z-index: 9999;
  background: #d3531a;
  height: 80px;
  position: fixed;
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease; }

.f-nav-fix {
  z-index: 9999;
  position: fixed;
  height: 80px;
  min-width: 1200px; }

.header__responsive-menu {
  display: none;
  position: relative; }

.expand {
  display: block !important; }

.header__responsive-menu__menu {
  width: 100%;
  padding: 5px 0px;
  position: absolute;
  margin-top: 80px;
  z-index: 1;
  opacity: 1;
  transition: opacity linear 0.15s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  background: #2e2728; }
  .header__responsive-menu__menu a {
    transition: all linear 0.15s;
    color: #919191;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }

.header__responsive-menu__menu li a:hover {
  background: #3e3436;
  color: #ffffff; }

.toggle-nav {
  float: right;
  height: 80px; }

#nav-icon1 {
  width: 50px;
  height: 45px;
  position: relative;
  margin-right: 1.2em;
  margin-top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #ffffff;
    border-radius: 7px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 15px; }

#nav-icon1 span:nth-child(3) {
  top: 30px; }

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.header__main-nav__brand {
  float: left;
  margin-left: 1.2em;
  width: 20%;
  line-height: 80px;
  font-size: 1.2em;
  overflow: hidden; }

.header__social {
  display: none; }

@media only screen and (min-width: 40.5em) {
  .toggle-nav {
    line-height: 80px; }

  .header__main-nav__brand {
    width: auto;
    margin-left: 20px; } }
@media only screen and (min-width: 1150px) {
  .header__main-nav {
    height: 115px;
    color: #ffffff; }

  .header__main-nav__menu {
    display: block; }

  .header__main-nav__brand {
    width: auto;
    margin-left: 20px;
    line-height: 115px; }

  .toggle-nav {
    display: none; }

  .header__social {
    display: block;
    overflow: hidden;
    line-height: 115px; }
    .header__social i {
      margin-right: 20px; }

  .header__main-nav__menu li {
    text-align: center;
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 90px;
    margin-left: 1.5em;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease; }
    .header__main-nav__menu li a {
      line-height: 115px;
      font-size: 16px;
      text-decoration: none;
      color: #ffffff; }
    .header__main-nav__menu li a:before {
      content: "";
      position: absolute;
      width: 90px;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: #11749e;
      visibility: hidden;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -o-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s; }
    .header__main-nav__menu li a:hover:before {
      border-bottom: 5px solid #11749e;
      visibility: visible;
      transform: scaleX(1);
      -webkit-transform: scaleX(1); }
  .header__main-nav__menu li:hover {
    opacity: 0.7;
    background: #333333;
    letter-spacing: 0.03rem; }

  .b-nav-fix {
    height: 115px; } }
#section__header {
  background-image: url("../img/layer_96_opt_baufqf_c_scale,w_480.png");
  height: 325px;
  width: auto;
  margin: 0;
  background-size: cover;
  background-position: center; }

@media only screen and (min-width: 30em) {
  #section__header {
    background-image: url("../img/layer_96_opt_baufqf_c_scale,w_675.png");
    height: 457px; } }
* {
  font-family: 'Open Sans', sans-serif; }

.float__left {
  float: left; }

.float__right {
  float: right; }

/*# sourceMappingURL=style.css.map */
