//grid system
//zmienne
$site-width: 1200px;
$column: 12;
$gutter: 5px;
$grid-spacing: 2%;

$tablet-up: "only screen and (min-width: 768px)";

//mixiny lepiej umiesci mixiny w osobnym pliku
@mixin clear() {
  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;

  .row {
    margin: 0 $gutter; //odstep pomiedzy row
    @include clear();

    [class*="col-"] {
      float: left;
      min-height: 1px; //musi byc minimalna wysokosc
      width: 100%; //domyslnie col maja 100% szerokossci
      padding: 0 $gutter;
      margin-right: $grid-spacing;
      &:last-child {
        margin-right:0%;
      }

    }

    //col-12 robimy
    @for $i from 1 through $column {
      .col-#{$i} {
        @media #{$tablet-up} {
          //width: (100%/$column) * $i;
          width: (100%/($column/$i)) - ($grid-spacing*(($column - $i)/$column));
        }
      }
    }
  }
}