//header section
#section__header {
  background-image: url("../img/layer_96_opt_baufqf_c_scale,w_480.png");
  width: auto;
  //height: 1082px;
  background-size: cover;
  background-position: center;
}


