$font-color: #000000;
$background: #ffff00;
$mobile-size: 28.75em;  //460px
$tablets-size: 40.5em;  //650px
$pc-size: 1150px;  //1150px
$test: 40.5em;
$menu-nav-height: 115px;
$menu-mobile-height: 80px;

//********** for scroll div only ****

.for__scroll{
  height: 1000px;
}


//******** mobile-first menu design *****

//******* here everything for mobile size ****
//******* menu **********





//********** menu style **********
//********** main-nav section ****

.header__main-nav__menu {
  display: none;
}

.header__main-nav{
  height: $menu-mobile-height;
  color: $font-color;
}

//style for fix menu
.b-nav-fix{
  z-index: 9999;
  background: #000;
  height: 95px;
  position: fixed;
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.f-nav-fix {
  z-index: 9999;
  position: fixed;
  height: 95px;
  min-width: 1200px;
}



.header__main-nav__menu {

  li{
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 90px;
    margin-left: 1.5em;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;

    a{
      line-height: 115px;
      font-size: 16px;
      text-decoration: none;
      color: $font-color;
    }
    //underline active link effect
    a:before {
      content: "";
      position: absolute;
      width: 90px;
      height: 5px;
      bottom: 0;
      left: 0;
      background-color: #11749e;
      visibility: hidden;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -o-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before{
      border-bottom: 5px solid #11749e;
      visibility: visible;
      transform: scaleX(1);
      -webkit-transform: scaleX(1);
    }
  }

  li:hover{
    opacity: 0.7;
    background: #333333;
    letter-spacing: 0.03rem;
  }
}


//******** burger menu drop-down*******


.header__responsive-menu{
  display: none;
  position: relative;
}

.expand {
  display: block !important;
}

.header__responsive-menu__menu{
  width:100%;
  padding:5px 0px;
  position:absolute;
  //top:$menu-mobile-height;
  right:0px;
  z-index:1;
  opacity:1;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;

  a {
    transition:all linear 0.15s;
    color:#919191;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
.header__responsive-menu__menu li a:hover {
  background:#3e3436;
  color: #ffffff;
}


//******** burger menu *******

.toggle-nav {
  display: block;
  height: $menu-mobile-height;
}

#nav-icon1 {
  float: right;
  width: 60px;
  height: 45px;
  position: relative;
  margin-right: 1.2em;
  margin-top: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

   span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

}


#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



.toggle-nav-click {
  //border-radius: 5px;
  background:#2e2728;
  //width: $menu-mobile-height;
}




//********* brand logo **********
.header__main-nav__brand {
  float: left;
  margin-left: 1.2em;
  width: 20%;
  line-height: $menu-mobile-height;
  font-size: 1.2em;
  overflow: hidden;
  //add scaling size for logo
}



//********   social icons  ********
.header__social{
  display: none;
}







//responsive design mobile first

@media only screen and (min-width: $mobile-size) {
//here everything bigger than mobile size
  body{
    //background: #A5A000;
  }

  .header__responsive-menu__menu{
    width: 15em;
  }



}


@media only screen and (min-width: $tablets-size) {
  body{
    //background: #A54200;
  }

  .toggle-nav {
    line-height: $menu-nav-height;
    }


    .header__main-nav__brand {
    width: auto;
    margin-left: 20px;
  }

}


@media only screen and (min-width: 1150px) {
  body{
    //background: #2ca513;
  }


  .header__main-nav__menu {
    display: block;
  }

  .header__main-nav__brand {
    width: auto;
    margin-left: 20px;
    line-height: 115px;
  }

  .toggle-nav {
    display: none;
  }

  .header__social {
    //float: right;
    display: block;
      overflow: hidden;
      line-height: 115px;
      i{
        margin-right: 20px;
      }
    }


}










